@model SinhVien

@{
    ViewData["Title"] = "Thêm mới Sinh Viên";
}

<h1>@ViewData["Title"]</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label>ID</label>
        <input asp-for="@Model.Tt" class="form-control" />
        <span asp-validation-for="@Model.Tt" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>CCCD</label>
        <input asp-for="@Model.Cccd" class="form-control" />
        <span asp-validation-for="@Model.Cccd" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Họ đệm</label>
        <input asp-for="@Model.Hodem" class="form-control" />
        <span asp-validation-for="@Model.Hodem" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Tên</label>
        <input asp-for="@Model.Ten" class="form-control" />
        <span asp-validation-for="@Model.Ten" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Nickname</label>
        <input asp-for="@Model.Nickname" class="form-control" />
        <span asp-validation-for="@Model.Nickname" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input asp-for="@Model.Email" class="form-control" />
        <span asp-validation-for="@Model.Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Điện thoại</label>
        <input asp-for="@Model.Dienthoai" class="form-control" />
        <span asp-validation-for="@Model.Dienthoai" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Điểm tích lũy</label>
        <input asp-for="@Model.Diem_tichluy" class="form-control" />
        <span asp-validation-for="@Model.Diem_tichluy" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Điểm rèn luyện</label>
        <input asp-for="@Model.Diem_renluyen" class="form-control" />
        <span asp-validation-for="@Model.Diem_renluyen" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Lưu</button>
    <a asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>