@model List<SinhVien>

@{
    ViewData["Title"] = "Danh Sách Sinh Viên";
}

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>CCCD</th>
            <th>HỌ VÀ TÊN</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sinhVien in Model)
        {
            <tr>
                <td>@sinhVien.Tt</td>
                <td>@sinhVien.Cccd</td>
                <td>@sinhVien.Hodem @sinhVien.Ten</td>
            </tr>
        }
    </tbody>
</table>