@model List<SinhVien>

@{
    ViewData["Title"] = "Danh Sách Sinh Viên";
}


<h1>@ViewData["Title"]</h1>
<a asp-action="Create" class="btn btn-success">Thêm mới</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>CCCD</th>
            <th>HỌ VÀ TÊN</th>
            <th>NICKNAME</th>
            <th>EMAIL</th>
            <th>ĐIỆN THOẠI</th>
            <th>ĐIỂM TÍCH LŨY</th>
            <th>ĐIỂM RÈN LUYỆN</th>
            <th>HÀNH ĐỘNG</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var sv in Model)
        {
            <tr>
                <td>@sv.Tt</td>
                <td>@sv.Cccd</td>
                <td>@sv.Hodem @sv.Ten</td>
                <td>@sv.Nickname</td>
                <td>@sv.Email</td>
                <td>@sv.Dienthoai</td>
                <td>@sv.Diem_tichluy</td>
                <td>@sv.Diem_renluyen</td>
                <td>
                    @* <a asp-action="Edit" asp-route-id="@sv.Tt">Edit</a> *@
                    <button type="button"
                            class="btn btn-primary"
                            onclick="location.href='@Url.Action("Edit", "SinhVien", new { id = sv.Tt })'">
                        Chỉnh sửa
                    </button>

                    <form asp-action="Delete" asp-route-id="@sv.Tt" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Bạn có chắc chắn muốn xóa?');">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>